.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: var(--price);
  height: 100%;
  padding-top: 50px;
}

.element {
  height: 150px;
  width: 30%;
  min-width: 300px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.diesel {
  color: var(--diesel1);
}
.essence {
  color: var(--essence1);
  overflow: hidden;
}

.titre {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 1rem 1rem;
  font-size: larger;
}
.price {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 45px;
}

.diesel .titre {
  background-color: var(--diesel2);
}
.diesel .price {
  background-color: var(--diesel3);
}

.essence .titre {
  background-color: var(--essence2);
}
.essence .price {
  background-color: var(--essence3);
}

.blurred {
  filter: blur(7px);
}


